<div class="container">
  <div class="row">

    <!-- 使用 Bootstrap components 的 Nav Tabs -->
    <!-- https://getbootstrap.com/docs/3.3/components/#nav-tabs -->
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to '首頁', root_path %>
      </li>
      
      <li role="presentation" class="active">
        <%= link_to 'TOP100', ranking_users_path %>
      </li>
    </ul>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="page-header">
        <h1>Top 100 </h1>
      </div>

<!-- 有多寫ranking-item的class style-->
      <% @users.each do |user| %>

        <div class="ranking-item">
          <div class="col-md-3">
            <%= link_to user_path(user) do %>
              <%= image_tag user.avatar.url, class: "img-responsive center-block" %>
            <% end %>
          </div>
          <div class="col-md-9">
            <h4>
              <%= user.name %>
              <span class="label label-default">收藏數：<%= user.favorites_count %></span>
            </h4>
            <p><%= truncate(user.intro, length: 200) %></p>
            <div>
              <%= link_to 'Show', user_path(user), class: "btn btn-primary" %>
              <%#= render partial: 'shared/like', locals: { user: user } %>
              <%= render partial: 'shared/likes', locals: { user: user } %>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      <% end %>


    </div>
  </div>
</div>